@model CookUp_Companion_web.Pages.RecipeModel

@{
    Layout = "_Layout";
}
<div class="ingredients-list">
    <h3>Ingredients</h3>
    <div class="tobuy-container box">
    <form method="post" asp-page-handler="SaveSelectedIngredients" id="addToShoppingCart">
        @for (int i = 0; i < Model.SelectedRecipeIngredients.Count; i++)
        {
            <div class="ingredientShoppingCart">
                <input type="checkbox" asp-for="@Model.SelectedRecipeIngredients[i].IsSelected" class="form-check-input" checked>
                <input type="hidden" asp-for="@Model.SelectedRecipeIngredients[i].IngredientId">
                <input type="hidden" asp-for="@Model.SelectedRecipeIngredients[i].IngredientName" />
                <input type="hidden" asp-for="@Model.SelectedRecipeIngredients[i].Quantity" />
                <input type="hidden" asp-for="@Model.SelectedRecipeIngredients[i].SelectedUnit" />
                <label class="form-check-label">
                    <div class="Ingredient">
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.SelectedRecipeIngredients[i].IngredientPicture)}")" alt="Ingredient Image">
                        <p>@Model.SelectedRecipeIngredients[i].IngredientName</p>
                        <p>@Model.SelectedRecipeIngredients[i].Quantity</p>
                        <p>@Model.SelectedRecipeIngredients[i].SelectedUnit</p>
                    </div>
                </label>
            </div>
        }
       
    </form>
    </div>
    <button type="submit" form="addToShoppingCart" class="btn btn-primary">Save Selected Ingredients</button>
</div>
